{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>Stock Data for {{ stock_symbol }}</h1>

{% if error_message %}
    <p class="text-danger">Error: {{ error_message }}</p>
{% endif %}

{% if 'Invalid Search' not in stock_symbol %}
    <div>
        {{ graph_html|safe }}
    </div>
{% else %}
    <p>This is mock data for a made-up stock.</p>
{% endif %}


<form method="get" action="/">
    <input type="text" name="stock_symbol" placeholder="Enter Stock or Cryptocurrency (e.g., AAPL, Bitcoin)" value="{{ stock_symbol }}">
    <button type="submit">Search</button>
</form>
{% endblock %}